.task-form {
  padding: 20px;

  &-field {
    display: block;
    width: 100%;
  }

  &-subfield {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .task-form-field {
      display: block;
      width: 31%;
    }
  }

  &-save {
    display: flex;
    justify-content: center;
  }
}
